{% extends 'home/base.html'%}

{% block content%}
<div class="card mx-auto" style="max-width: 520px; margin-top: 40px">
    <article class="card-body">
      <h4 class="card-title" style="text-align: center;">Reser Your Password</h4>
      <form action="{% url 'reset_password'%}" method="POST" enctype="multipart/form-data">
       {% csrf_token%}

        <div class="row">
          <div class="col form-group ">
            <label>Password</label>
            <input class="form-control" type="password" name="password" placeholder="Set New Password" id="">
          </div>
          <!-- form-group end.// -->
          <div class="col form-group">
            <label>Confirm Password</label>
            <input class="form-control" type="password" name="confirm_password" placeholder="Confirm New Password" id="">
          </div>
        </div>
        
        <div class="form-group">
          <button type="submit" value="Reset Password" class="btn btn-primary btn-block mt-2">
            Submit
          </button>
        </div>

        <div class="row">
          <div class="form-group col mt-2">
           <!-- load message -->
           {% include 'home/includes/alerts.html'%}
          </div>
        </div>
        <!-- form-group// -->
        
      </form>
    </article>
    <!-- card-body.// -->
  </div>
 <!-- card .// -->
 <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>
{% endblock%}