/* CONTAINER FLUID */
.container-fluid{
    padding: 2% 9%;
}

/* NAVIGATION BAR */
.navbar{
    padding: 1rem 0 0rem;
}

h2{ 
    margin: 0;  
    text-align: center;
}
h3{
    margin: 0;     
}
.header-form-items{
    padding: 1% 26.9%;
}
.top-cybers{
    padding: 2% 16%;
}
.top-cyber-images{
    width:200px;
    height:120px;
}
.choose-cyber{
    padding: 2% 16%;
    text-align: center;
}

@keyframes show-toast{
    0% {bottom: -100%}
    20% {bottom: 100px}
    80% {bottom: 100px}
    100% {bottom: -100%}
}

.show-notification{
    position:fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 5s;
    z-index: 99;
}

a:link { text-decoration: none; } 

.active{
    color:red; 
}

a:hover{
    color:red;
}

.btn.btn-info{
    padding: 2px 1.75em;
    font-size: 12px;
    cursor: pointer;
}